{% extends 'base.html' %}

{% block title %} MyBlog {% endblock title %}

{% block body %}
<div class="container my-3">
    <h2>Coding Articles by {{user.get_username}}:</h2>
    {% for post in alluserPosts %}
    
    <div class=" border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{user.get_username}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
 

            <small class="text-muted">               
<a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
{{ post.date_posted }}
<a href="/blog/blogMyDelete/{{post.sno}}"> Delete </a>
<a href="/blog/blogMyEdit/{{post.sno}}"> Edit </a>
        </small>
</div>
        
        {% endfor %} 
    </div>
   

    {% if alluserPosts.has_other_pages %}
    <ul class="pagination">
      {% if alluserPosts.has_previous %}
        <li><a href="?page={{ alluserPosts.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in alluserPosts.paginator.page_range %}
        {% if alluserPosts.number == i %}
          &nbsp;&nbsp;<h1><li class="active"><span>{{ i }} <span class="sr-only">(current)</span></h1></span></li>
        {% else %}
         &nbsp; &nbsp; <li><h1><a href="?page={{ i }}">{{ i }}</a></h1></li>
        {% endif %}
      {% endfor %}
      {% if alluserPosts.has_next %}
        &nbsp; &nbsp; <li><a href="?page={{ alluserPosts.next_page_number }}">&raquo;</a></li>
      {% else %}
        &nbsp;&nbsp;<li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
  
{% endblock body%}