{% extends 'base.html' %}

{% block title %} Blog Edit {% endblock title %}
{% block body %}
<div class="container">
<h3>add your Blog</h3>
<form action="/blog/blogMyEdit/{{post.sno}}" method="POST">
{% csrf_token %}

 <input type="hidden"  name="sno" value="{{post.sno}}">
  <div class="form-group">
    <label for="name">title</label>
    <input type="text" value="{{post.title}}" class="form-control" id="title" name="title" aria-describedby="name">
  </div>
  <div class="form-group">
    <label for="email"></label>
    <textarea class="form-control" name="content"  id="content" cols="30" rows="5">{{post.content}}</textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1"  required>{{post.category}}</label>
    <select class="form-control" name="category" id="category" value = "{{post.category}}">
      <option>General</option>
      <option>Study</option>
      <option>Technical</option>
    </select>
  </div>
    <div class="form-group">
    <input type="hidden"  name="author" value="{{user.get_username}}"> 
  </div>
  <small class="text-muted">{{ post.date_posted }}
  </small>
  <button type="submit" class="btn btn-primary">Update your Blog</button>
</form>
</div>
{% endblock body%}