{% extends 'base.html' %}

{% block title %} BlogHome {% endblock title %}

{% block body %}
<div class="container my-3">
    <h2>Coding Articles by Blogsite:</h2>
    {% for post in allPosts %}
    
    <div class=" border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:100}}</p>
                <div class="my-2">
            <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
        
    </div>
    {% endfor %}
</div>
{% endblock body%}